# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/

config.php
uploads/*
.htaccess

bilder/symbol_betrag_100fr.png
bilder/symbol_betrag_50fr.png
bilder/symbol_betrag_150fr.png
bilder/symbol_betrag_fr_frei.png
